:root{

	--colorbg1: #0B0C10;
	--colorbg2: #202833;
	--color0: #ffffff;
	--color1: #C8C3C5;
	--color2: #66FCF1;
	--color3: #46A29F;
}

.wrapper {
	grid-row: 1;
	grid-column: 1;
	display: flex;
	width: 100%;
	align-items: stretch;
	z-index: 1;
}

.background-sticky{
	width: 100%;
	height: 100vh;
	grid-row: 1;
	grid-column: 1;
	position: fixed;
	top: 0;
	background-image: url('assets/background.svg');
	background-color: var(--colorbg1);
	z-index: -1;
}

.list-group-item{
	background-color: var(--colorbg2);
}

.list-group{
	width: 80%;
}

.btn{
	margin:2pt;
}

.nav-link{
	transition: background-color 0.2s;
}

.nav-link:hover{
	background-color: #3E4F60;
}

.content{
	overflow-y: scroll;
	z-index: 1;
}

.nav{
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
	top:0;
}

.center_text{
	text-align: center;
}
