.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15pt;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.social{
	transition: transform .2s;
  background-color: var(--colorbg2);
  text-decoration: none;
  margin: 0.5rem;
  font-size: medium;
}

.social img{
  height: 100%;
}

.social:hover{
	transform: scale(1.1);
}

.link-bar{
  text-wrap: nowrap;
  justify-content: center;
  min-width: 0;
  max-width: 100%;
  flex-wrap: wrap;
}

.link-bar *{
  height: 40pt;
}